extends layout

block content
	h1.
		KOMMENTARLISTE
	table#kommentartabelle(border="1")
		each kommentar, i in kommentarliste
			tr
				td
					p()= kommentar.kommentar
	form#formAddKommentar(
	name="addkommentar",method="post",action="/addkommentar")
		textarea#textareaKommentar(style = "resize: none;", type="text", placeholder="Kommentar", name="kommentar", rows ="10", cols="52")
		button#btnSubmit(type="submit") Einreichen