doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='http://fonts.googleapis.com/css?family=Ubuntu:500|Montserrat' rel='stylesheet')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        script(src='http://code.jquery.com/ui/1.10.4/jquery-ui.js')
        script(type='text/javascript' src='/faye/client.js')
        script(src='/javascripts/global.js')
    body
        img#logo(src='http://imgur.com/lN5RVQn.png')
        block content