extends layout

block content

	h3.
		Navigation
	form#formnavleiste(name="navleiste")
		button#btnHome(type="submit", formaction="/") Home
		button#btnAnmeldung(type="submit", formaction="newuser") Anmeldung
		button#btnWBA2(type="submit", formaction="module") Module

	h1.
		Module

	table#ModulTable
		tr
			td 
				a(href="http://localhost:3000/wba2") WBA2
		tr
			td
				a(href="http://localhost:3000/cga") CGA

