extends layout

block content
	h3.
			Navigation
		form#formnavleiste(name="navleiste")
			button#btnHome(type="submit", formaction="/") Home
			button#btnAnmeldung(type="submit", formaction="newuser") Anmeldung

	h1= title
	form#formAddUser(name="adduser",method="post",action="/adduser")
		input#inputUserName(type="text", placeholder="username", name="username")
		button#btnSubmit(type="submit") submit