extends layout

block content
	h1= title
	h3.
		Navigation
	form#formnavleiste(name="navleiste")
		button#btnHome(type="submit", formaction="http://localhost:3000/home") Home
		button#btnWBA2(type="submit", formaction="http://localhost:3000/home/cga") Modul CGA

	aside
		p ABONNIEREN!
			input#aboCheckboxCGA(name="aboCheckboxCGA", type="checkbox")
		h3.
			Ticker

		#Ticker
			table
				thead
					th Aktualisierungen
				tbody

	h1.
		Material1

	p
		img(border="1", src='http://www.fotos-hochladen.net/view/prsiwba2005xgh324yal9.jpg', width="60%", alt='bild')

	h3.
		Kommentare

	table#kommentartabelle(border="1")
		each material, i in cgamaterial1
			tr
				td
					p()= material.material

	form#formAddKommentar(name="formAddKommentar", method="post", action="/cga/material1/addkommentar")
		textarea#textareaKommentar(style = "resize: none;", type="text", placeholder="Kommentar einfuegen", name="textareaKommentar", rows="10", cols="52")
		br
		button#btnSubmit(type="submit") Einreichen
