extends layout

block content
	h1= title


	table#homeTable
		tr
			td 
				a(href="http://localhost:3000/home/wba2") WBA2
		tr
			td
				a(href="http://localhost:3000/home/cga") CGA
		tr
			td
				a(href="http://localhost:3000/") Logout