extends layout

block content

	h3.
		Navigation
	form#formnavleiste(name="navleiste")
		button#btnLogout Logout

	h1= title

	aside#sidebar
		#Ticker
			table
				thead
					th Aktualisierungen
				tbody

	table#homeTable
		tr
			td 
				a(href="http://localhost:3000/home/wba2") WBA2
		tr
			td
				a(href="http://localhost:3000/home/cga") CGA