body {
    height: 100%;
    margin-right: 256px;
}
aside {
	float: right;
    height: 100%; 
    text-align: center;
}
#Neuigkeiten {
	background-color: black;
	color: white;
}
#Module {
	background-color: black;
	color: white;
}
