extends layout

block content
	div#header
		div#balkenoben
		div#balkenunten
			div#btnHome
				a() HOME
			div#wba2btn
				a(href="http://localhost:3000/home/wba2") WBA 2
			div#cgabtnAktiv
				a(href="http://localhost:3000/home/CGA") CGA
			div#btnLogout 
				a() LOGOUT

	aside#sidebar
		#Ticker
			table
				thead
					th Aktualisierungen
				tbody
	section#content
		h1= title

		table#wba2MaterialTable
			tr
				td 
					a(href="http://localhost:3000/home/cga/material1") Material 1