body {
        font-family: "Montserra", Arial, sans-serif; font-weight:100;
    }

a {
	text-decoration: none;
}

#kommentartabelle {
	min-width: 60%;
	max-width: 60%; 
}

#Ticker {
	text-align: center;
}

#Ticker p{
	font-weight: bold;
}

h1 {
	font-family: "Ubuntu", Arial, sans-serif; font-weight:200;
    position: static;
	font-size: 50px;
	text-align: center;
	background-color: orange;
	color: white;
}

/*Ticker, Bewertung*/
aside {
	position: fixed;
    color: black;
    text-align: right;
    font-size: 12px;
    left: 85%;
    top: 27%;
}

/*
#seitenleiste {
	position: absolute;
	background-color: lightblue;
	width: 220px;
	top: 0;
	bottom: 0;
	left: 80%;
}
*/

#Bewertung {
    position:relative;
    width: 500px;
    top: 50%;
    

}